@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@300;700&display=swap')
$mobile: 600px
$desktop: 1920px
$marrom-escuro: #57443C
$marrom-claro: #C7B8B8
$font: 'Source Serif Pro', serif
*
    padding: 0%
    margin: 0%
    color: $marrom-escuro
    font-size: 1.08em
    font-family: $font
body
    background-color: $marrom-claro
main
    background-color: #FFFFFF
    max-width: 100%
    width: 1100px
    margin: auto
    margin-top: 2%
    margin-bottom: 2%
    border-radius: 1.5%
    padding: 1.2%
    text-align: center
h1
    display: inline-block
    font-size: 2.4em
    margin-right: 10%
    font-weight: bolder
#menu
    display: inline
    a
        text-decoration: none
a:hover
    color: $marrom-claro
    font-size: 1.13em
header
    height: fit-content

.produto
    width: 20vw

h2
    margin-top: 10vh

input
    display: block
    margin: auto
